<div>
  <div class="hard">This is Turn</div>
  <div class="hard"></div>
  <div>
    <!--<div data-page="3">GOTO PAGE3</div>
    <div data-page="5">GOTO PAGE5</div>
    <div data-page="7">GOTO PAGE7</div>
    <div data-page="11">GOTO PAGE7</div>-->

    <div ng-repeat="page in book">
        <div data-page="{{ page.page }}">{{ page.title }}</div>
    </div>
  </div>
  <div class="page">PAGE2</div>
  <div class="page">PAGE3</div>
  <div class="page">PAGE4</div>
  <div class="page">PAGE5</div>
  <div class="page">PAGE6</div>
  <div class="page">PAGE7</div>
  <div class="page">PAGE8</div>
  <div class="page">{{ vm.pages.title }}  </div>
  <!--<div class="page" ng-repeat="page in book">
        <div>
          <h2>{{ page.title }}</h2>
          <p>{{ page.content }}</p>
        </div>
    </div>-->
  <div class="hard"></div>
  <div class="hard"></div>
</div>
