<!DOCTYPE html>
<html ng-app="anguFlipBook">
<head>
    <title>AnguFlipBook</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="BookController">
    <div class="container" ng-controller="pageController">
        {{ page.title }}
    </div>
    <!--<div id="zoom-viewport" ng-controller="BookController">
        <div class="container">
            <div id="flipbook">
                &lt;!&ndash; Next button &ndash;&gt;
                &lt;!&ndash;<div ignore="1" class="next-button"></div>&ndash;&gt;
                &lt;!&ndash; Previous button &ndash;&gt;
                &lt;!&ndash;<div ignore="1" class="previous-button"></div>&ndash;&gt;
                <div class="hard"><h2>AnguFlipBook</h2></div>
                <div class="hard"></div>
                <div class="page">
                    <h4>Index</h4>
                    &lt;!&ndash;<button class="btn btn-info" ng-click="goTo(5)">Go to</button>&ndash;&gt;
                    &lt;!&ndash;<a href="javascript:$('#flipbook').turn('page',7)">Index term</a>&ndash;&gt;
                    &lt;!&ndash;<a href="javascript:void(0)" onclick="goTo(10)">Index term2222</a>&ndash;&gt;
                    <ul class="index">
                        <li ng-repeat="page in book" class="" ng-click="goTo(page.page)">{{ page.title }}-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;{{ page.page}}</li>
                    </ul>
                </div>

                <div class="page"> Page 2 </div>
                <div class="page"> Page 3 </div>
                <div class="page"> Page 4 </div>
                <div class="page"> Page 5 </div>
                <div class="page"> Page 6 </div>
                <div class="page"> Page 7 </div>
                <div class="page"> Page 8 </div>
                <div class="page"> Page 9 </div>
                <div class="page"> Page 10 </div>
                <div class="hard"></div>
                <div class="hard"></div>
            </div>
        </div>
    </div>-->

    <!--// Flipbook directive //-->
    <div class="container">
        <div class="col-md-9">
            <h2>Flip book</h2>
            <flipbook ng-controller="BookController"></flipbook>
        </div>
    </div>


    <!--<button class="btn btn-info" ng-click="vm.goTo(5)">Go to</button>
    <button class="btn btn-info" ng-click="vm.zoomView()">Zoom</button>-->


    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/turnjs/turn.js"></script>
    <!--<script src="js/turn.min.js"></script>-->
    <script src="js/app.js"></script>
    <script src="js/controllers/bookController.js"></script>
    <script src="js/controllers/pageController.js"></script>
    <script src="js/directives/flipbookDirective.js"></script>
    <script src="js/services/bookService.js"></script>

    <!--<script>
        $(window).ready(function() {
            $("#flipbook").turn({
                width: 900,
                height: 600,
                autoCenter: true,
                display: 'double',
                gradients: true,
                elevation:50,
                pages:15,
                when: {
                    turned: function(e, page) {
                        /*console.log('Current view: ', $(this).turn('view'));*/
                    }
                }
            });

            function goTo(page){
                $('#flipbook').turn('page',page)
            }

            /*$("#flipbook").bind("turning", function(event, page, view) {
              alert("Turning the page to: "+page);
            });*/

            /*var view = $("#flipbook").turn("view").join(" and ");
            alert("Current view: "+view);*/
        });
    </script>-->
</body>
</html>